{% extends 'plantilla.html' %}}
{% block title %}
Opciones
{% endblock %}

{% block nombrePagina %}
Elija las opciones que más se le acomoden
{% endblock %}

{% block main %}
<form action="{% url 'algoritmos:resultados' %}" method="post" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid mt-4 mb-4" align="center">
        <div class="row my-3" >
            <div class="col-xs-7 float-left">
                <label>Seleccione un algoritmo: </label>
            </div>
            <div class="col-xs-5 float-right">
                <select name="algoritmoPrincipal" id="algoritmoPrincipal" >
                    <optgroup label="Clasificadores supervisados">
                        <option value="id3">Id3</option>
                        <option value="Bayes">Naive Bayes</option>
                        <option value="Kmeans">K-Means</option>
                        <option value="Knn">KNN</option>
                        <option value="regresion">Regresión Lineal</option>
                    </optgroup>
                    <optgroup label="Reglas de Asociaciones">
                        <option value="apriori">Apriori</option>
                        <option value="fpgrotuh">FP-Grouth</option>
                    </optgroup>
                    <optgroup label="Markov">
                        <option value="hmm">Modelos ocultos de Markov</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="row  my-3">
            <div class="col-xs-7 float-left">
                <label>Seleccione un Dataset: </label>
            </div>
            <div class="col-xs-5 float-right">
                <select name="dataset" id="dataset">
                    <optgroup label="Clasificadores Supervisados">
                        <option value="1">Vino</option>
                        <option value="2">Cancer de Máma</option>
                        <option value="3">Iris</option>
                        <option value="4">Diabetes</option>
                        <option value="5">Dígitos</option>
                    </optgroup>
                    <optgroup label="Reglas de asociación">
                        <option value="6">Supermercado</option>
                        <option value="7">Tienda de comestibles</option>
                    </optgroup>
                    <optgroup label="Reglas de asociación">
                        <option value="8">Supermercado</option>
                        <option value="9">Tienda de comestibles</option>
                    </optgroup>

                </select>
            </div>
        </div>
        <div class="row  my-3">
            <div class="col-xs-7 float-left">
                <label>Cargar DataSet: </label>
            </div>
            <div class="col-xs-5 float-right">
                <input class="" type="file">Cargar (opcional)</input>
            </div>
        </div>
        <div class="row  my-3">
            <div class="col-xs-7 float-left">
                <label>Comparar con: </label>
            </div>
            <div class="col-xs-5 float-right">
                <select name="algoritmoComparar" id="algoritmoComparar">
                    <optgroup label="No comparar">
                        <option value="Ninguno">No comparar</option>
                    </optgroup>
                    <optgroup label="Clasificadores supervisados">
                        <option value="id3">Id3</option>
                        <option value="Bayes">Naive Bayes</option>
                        <option value="Kmeans">K-Means</option>
                        <option value="Knn">KNN</option>
                        <option value="regresion">Regresión Lineal</option>
                    </optgroup>
                    <optgroup label="Reglas de Asociaciones">
                        <option value="Apriori">Apriori</option>
                        <option value="FP-Grouth">FP-Grouth</option>
                    </optgroup>
                    <optgroup label="Markov">
                        <option value="hmm">Modelos ocultos de Markov</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="row  my-3">
            <div class="col-xs-7 float-left">
                <label>Elegir Red Neuronal: </label>
            </div>
            <div class="col-xs-5 float-right">
                <a class="btn btn-info" href="{% url 'algoritmos:neuronal' %}">Generar</a>
            </div>
        </div>
        <button class="btn-block btn btn-info" type="submit">Generar Resultados</button>
    </div>
</form>

{% endblock %}