{% extends 'plantilla.html' %}}
{% block title %}
Inicio
{% endblock %}

{% block nombrePagina %}
Bienvenido a NombreApp
{% endblock %}

{% block main %}
<h1>
    Bienvenido a NombreApp
</h1>
<h2>
    Esta aplicación esta diseñada para ejecutar y evaluar diferentes algoritmos de inteligencia artificial
</h2>
<h4>
    Realizada por Julián Camilo López y Juan Sebastian Marulanda
    Estudiantes de Ing de Sistemas de la Universidad de Caldas
</h4>
<a href="{% url 'algoritmos:elecciones' %}" type="button" class="btn btn-info btn-block">Ir al programa</a>
{% endblock %}